SECRET_KEY='secret-key'

DEBUG=on

#comma separated if needed
ALLOWED_HOSTS='127.0.0.1'

DATABASE_NAME='diag_mg'
DATABASE_USER='postgres_user'
DATABASE_PASS='postgres_pass'
DATABASE_HOST='localhost'
DATABASE_PORT='5432'

STATIC_ROOT='/path/to/static/'

CELERY_BROKER_URL = 'amqp://guest:guest@localhost:5672/'