SECRET_KEY='secret-key'

DEBUG=on

ALLOWED_HOSTS='127.0.0.1,localhost'

DATABASE_ENGINE='django.db.backends.sqlite3'
DATABASE_NAME='db.sqlite3'
DATABASE_USER=''
DATABASE_PASS=''
DATABASE_HOST=''
DATABASE_PORT=''

STATIC_ROOT='/path/to/static/'

NPM_BIN_PATH='/path/to/NPM'